@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
* { box-sizing: border-box; }

body,html{
        margin: 0;
    padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
body.no-scroll{
    overflow: hidden;
}

header{
    background: #000;
}
.header-main{
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: #FFF;
    margin: 0;
    padding: 0;
}
.header-main span{
    color: #F00
}
.header-main::before,.header-main::after{
    content: "\27A4";
    color:#F00;
    display: inline-block;
}
.header-main::after{
    transform: scaleX(-1);
}

#trailer-full-screen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    overflow: hidden;

}
#trailer-full-screen::before{
    display: block;
    content: "X";
    font-weight: bold;
    font-size: 1.6rem;
    color: #000;
    width: 100vw;
    height: 50vh;
}
#youtube-trailer{
    position: relative;
}
#youtube-trailer iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#main-filter{
    padding: 1.6rem;
}

    #times,#genres-list,#decades,#results{
        text-align: center;
        border: 1px solid #CCC;
    }

    #times{
        padding: 1.6rem;
    }

    #times p{
        margin: 0;
        margin-bottom: 1rem;
    }
    #genres-list p{
        text-align: center;
    }

    .film-times{
        margin-bottom: 1rem;
    }

    #genres,#decades{
        position: relative;
        padding: 2rem;
    }

    #genres{
        padding: 0 0 1.6rem;
    }

    #results{
        display: none;
        background: #CCC;
    }

.col-md-4 > p{
    font-size: 1.6rem;
    line-height: 120%;
}

    .col-md-4 p span{
        font-weight: bold;
    }

    .film-director{
        overflow: hidden;
        white-space: nowrap;
    }

    .film-director span{
        display: block;
    }

    .genre-selector,.decade-selector{
        padding: 1.6rem;
        display: inline-block;
        width: 15%;
    }

    .genre-selector{
        width: calc(50% - 3.2rem);
    }

    .decade-selector{
        width: 8%;
    }

    #min-decade,#max-decade{
        font-family: 'Quantico', sans-serif;
        background: #000;
        color: #FF0;
        font-size: 1.5rem;
    }

    .genre-selector label{
        text-transform: capitalize;
    }

    #films{	
        padding: 2rem 0;
    }

    #films li { 
        border: 1px solid #CCC;
        display: inline-block;
        width: 100%;
        padding: 1.6rem 1.6rem 2rem;
    }	

    #films li:hover {
        background: linear-gradient(135deg, rgba(219,219,219,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .film-genre{
        text-transform: capitalize;
    }

    .trailer iframe{
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .film-runtime{
        padding-bottom: 1.6rem;
    }

    .film-trailer, .watch-film-cta{
        display: inline-block;
        font-weight: bold;
        color:#000;
        position: relative;
        cursor: pointer;
        padding: 1.6rem;
        background: #F00;
        border-radius: 35px;
        box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
        width: 11rem;
    }
    .film-trailer:hover{
        color:#FFF;
        background: #000;
        border-radius: 35px;
        box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
    }
    .film-trailer::before, .watch-film-cta::before{
        display: inline;
        content: "\27A4";
        padding-right: 0.5rem;
        color: #FFF;
        font-size: 2rem;
    }
    .film-trailer:hover::before{
        color: #F00;
    }

    .watch-film-cta{
        color: #FFF;
        background: #000;
        text-decoration: none;
        margin-left: 1.6rem;
        box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.75);
    }

    .watch-film-cta::before{
        color: #F00;
    }
    
    .watch-film-cta:hover{
        background: #F00;
    }

    .watch-film-cta:hover::before{
        color: #000;
    }

    .filter{
        border: 1px solid #CCC;
        text-align: center;
    }

[data-trailer=""] { /* We only show the option of watch trailer if the trailer is available */
    display: none;
}

@media screen and (min-width: 768px) {
    .row{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    #films li { 
        border: 1px solid #CCC;
        display: inline-block;
        width: 33.33%;
        padding: 1.6rem 1.6rem 2rem;
    }	
    .film-director span{
        display: inline-block;
        text-overflow: ellipsis;
    }
    .genre-selector{
        width: 15%;
    }
}

@media screen and (min-width: 1120px) {
    .container, #films { 
        width: 112rem;
        margin: 0 auto;
    }
}
